.min-width-initial {
  min-width: initial !important;
}

.col-25 {
  width: 25%;
}

.width-33,
.col-33 {
  width: 33.3333%;
}

.half,
.half-width,
.col-50 {
  width: 50%;
}

.col-80 {
  width: 80%;
}

.full-width,
.col-100 {
  width: 100%;
}

.full-vp-height {
  height: 100vh;
}

.vp-height-80 {
  height: 80vh;
}

.full-height,
.height-100-perc {
  height: 100%;
}

.min-width-50 {
  min-width: 50px;
}

.min-width-70 {
  min-width: 70px;
}

.min-width-110 {
  min-width: 110px;
}

.min-width-125 {
  min-width: 125px;
}

.min-width-145 {
  min-width: 145px;
}

.min-width-150 {
  min-width: 150px;
}

.min-width-300 {
  min-width: 300px;
}

.child-full-min-height > * {
  min-height: 100%
}

.min-height-70 {
  min-height: 70px
}

.max-width-250 {
  max-width: 250px;
}

.max-width-600 {
  max-width: 600px
}

.icon-17 {
  width: 17px;
}

.icon-20 {
  width: 20px;
}

.icon-25 {
  width: 25px;
}

.icon-30 {
  width: 30px;
}

.icon-35 {
  width: 35px;
}

.icon-40 {
  width: 40px;
}

.icon-50 {
  width: 50px;
}

.icon-60 {
  width: 60px
}

.icon-70 {
  width: 70px
}

.icon-80 {
  width: 80px
}

.icon-90 {
  width: 90px
}

.icon-100 {
  width: 100px;
}

.icon-130 {
  width: 130px;
}

.icon-140 {
  width: 140px;
}


/*Height*/

.icon-h-12 {
  height: 12px;
}

.icon-h-13 {
  height: 13px;
}

.icon-h-14 {
  height: 14px;
}

.icon-h-15 {
  height: 15px;
}

.icon-h-16 {
  height: 16px;
}

.icon-h-17 {
  height: 17px;
}

.icon-h-18 {
  height: 18px;
}

.icon-h-19 {
  height: 19px;
}

.icon-h-20 {
  height: 20px;
}

.icon-h-21 {
  height: 21px;
}

.icon-h-22 {
  height: 22px;
}

.icon-h-23 {
  height: 23px;
}

.icon-h-24 {
  height: 24px;
}

.icon-h-25 {
  height: 25px;
}

.icon-h-26 {
  height: 26px;
}

.icon-h-27 {
  height: 27px;
}

.icon-h-28 {
  height: 28px;
}

.icon-h-29 {
  height: 29px;
}

.icon-h-30 {
  height: 30px;
}

.icon-h-40 {
  height: 40px;
}

.icon-h-45 {
  height: 45px;
}

.icon-h-50 {
  height: 50px;
}

.icon-h-100 {
  height: 100px;
}

.icon-h-80 {
  height: 80px;
}

.translate-up-20 {
  transform: translate(0px, -20px)
}

.translate-up-40 {
  transform: translate(0px, -40px)
}

.border-2px {
  border: 2px solid;
}